*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.navbar{
    border: 1px solid blue;
    font-family:"Roboto", sans-serif ;
    height: 640px;
    width: 23%;
    position: fixed;
}

.home{
    border: 1px solid red;
    width: 67.5%;
    margin: 0 0 0 25%;
    height: 660px;
    font-family: "Montserrat, sans-serif";
}

.jean-div{
  border: 1px solid black;
  color: black;
}

img{
  width: 1005px;
  height: 660px;
}
h2{
    padding-top: 30px;
   
}
.jeans{
    border: 1px solid yellow;
    margin: 0 0 0 25%;
    height: 660px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
}

.subscribe{
    border: 1px solid black;
    margin: 0 0 0 25%;
    height: 282px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
}

.CAS-section{
    border: 1px solid aqua;
    margin: 0 0 0 25%;
    height: 450px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
}

.footer{
    border: 1px solid orange;
    margin: 0 0 0 25%;
    height: 70px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
}