*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.navbar{
    height: 640px;
    width: 23%;
    position: fixed;
}

.logo{
    text-align: center;
    margin: 25px 0 0 0;
    padding: 0 38px 0 0;
    letter-spacing: 4px;
}

.heading1{
    line-height: 1.5;
    font-size: 24.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 521;
}

.navbar_list{
    margin:  92px 0 0 0;
    padding: 0 0 0 29%;
    height: 45%;
    font-family: "Roboto", sans-serif;
}

.lists{
    list-style-type: none;
    line-height: 1.8;
    font-weight: bold;
    font-size: 17.8px;
    color: #616161;
}

.list{
    font-size: 17.8px;
    padding: 11px 0 0 0;
    list-style-type: none;
    line-height: 1.8;
    font-weight: bold;
    color: #616161
}

.jean{
    font-size: 17.8px;
    padding: 11px 0 0 0;
    list-style-type: none;
    line-height: 1.8;
    font-weight: bold;
    color: black
}

.fa-caret{
    color: black;
}

.moreinfo{
    margin: 26% 0 0 0;
    height: 15%;
}

.detail{
    padding: 0 0 0 29%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.details{
    font-family: "Roboto", sans-serif;
    padding: 5% 0 0 29%;
    font-size: 15px;
    line-height: 1.5;
}

  /*home section*/
.home{
    width: 69%;
    margin: 0 0 0 25%;
    height: 780px;
    
    
}

.jean-div{
  color: black;
  height: 90px;
  margin-top: 7px;
  
}

.jeans-div{
  font-size: 28px;
  font-weight: 400;
}

.icons{
    width: 100%;
    height: 100px;
    margin-top: -25px;
    font-size: 24px;
    text-align: right;
    letter-spacing: 5px;
}
img{
  width: 100%;
  height: 680px;
}


h2{
    padding-top: 20px;
    font-weight: 400;
   
}

.home-div{
    position: relative;
}

.arrivals{
    height: 160px;
    width: 600px;
    position: absolute;
    margin-top: -640px;
    margin-left: 35px;
    color: #ffffff;
    font-weight: 400;

}

h1{
    font-size: 72px;
    font-weight: 400;
}
h2{
    font-size: 40px;
    margin-top: 7px;
}

.button_SHOP{
    width: 173px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    background-color: black;
    margin-top: 25px;
    border: none;
}

.button_SHOP:hover{
    background-color: lightgray;
    color: black;
}
/*Jeans Sectiom*/
.jeans{
    margin: 0 0 3% 25%;
    height: 660px;
    font-family: "Montserrat, sans-serif";
    width: 69%;
}

.img1{
    width: 22.8%;
    height: 49.4%;
    filter: grayscale(80%);
}

.jpg{
    height: 80%;
}

.heading2{
    line-height: 1.5;
    font-size: 15px;
    padding:16px 0 15px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.img2{
    margin: -35.3% 0 0 25.8%;
    width: 22.8%;
    height: 49.4%;
    filter: grayscale(80%);
}

.img3{
    margin: -35.3% 0 0 51.7%;
    width: 22.8%;
    height: 49.4%;
    filter: grayscale(80%);
}

.img4{
    margin: -35.3% 0 0 77.4%;
    width: 22.8%;
    height: 49.4%;
    filter: grayscale(80%);
}

.images{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-left: 0;
    padding-top: 10px;
    line-height: 1.5;
}

.price{
    font-family: "Montserrat", sans-serif;
    margin-left: 0;
    font-size: 15px;
    font-weight: 600;
}

.new-div{
    border: 1px solid black;
    background-color: black;
    color: white;
    position: absolute;
    width: 23%;
    font-family: "Montserrat", sans-serif;
    margin-left: 0;
    margin-top: -263px;
    padding: 0 0 0 5px;
}

.Buy-now{
    width: 50%;
    height: 10%;
    font-size: 15px;
    margin: -200px 0 0 19%;
    position: absolute;
    opacity: 0;
}

.Buy-now:hover{
    opacity: 3;
    background-color: black;
    border: black;
    color: white;
}
    
/* Subscribe*/
.subscribe{
    border: 1px solid black;
    margin: 0 0 0 25%;
    font-family: "Montserrat", sans-serif;
    height: 282px;
    width: 69%;
    color: white;
    background-color: black;
}

.heading3{
    font-weight: 400;
    font-size: 35px;
    padding: 50px 0 0 10px;
    line-height: 1.5;
}

.special-offers{
    padding: 15px 0 0 10px;
}

.email{
    margin: 10px 0 0 10px;
    width: 98%;
    height: 17%;
    font-size: 15px;
    padding-left: 5px;
    font-family: "Montserrat", sans-serif;
}

.button{
    margin: 12px 0 0 10px;
    width: 11%;
    height: 14%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: #f44336;
    color: white;
    border: none;
}

/*C.A.S section*/
.CAS-section{
    margin: 0 0 0 25%;
    height: 500px;
    font-family: "Montserrat", sans-serif;
    width: 69%;
    background-color: rgb(241, 241, 241);
    display: flex;
}

.contact{
    /* border: 1px solid blue; */
    width: 400px;
    font-family: "Montserrat, sans-serif";
    height: 450px;
    padding-left: 120px;
    padding-top: 85px;

}

.contact-div{
    font-family: "Montserrat", sans-serif; 
}

.questions{
    font-size: 14px;
    font-family: "Montserrat", sans-serif; 
}
.about{
    /* border: 1px solid blue; */
    width: 300px;
    height: 450px;
    padding-left: 90px;
    padding-top: 65px; 
    line-height: 2.6;  
    font-size: 14px;
    font-family: "Montserrat", sans-serif; 
}

.about-div{
  /* border: 1px solid black; */
  width: 150px;
  height: 300px;
  text-align: center;
  margin-left: -40px;
}

.store{
    /* border: 1px solid blue; */
    width: 350px;
    height: 450px;
    padding-left: 20px;
    padding-top: 85px;
    line-height: 2.0;
    font-family: "Montserrat", sans-serif;
} 

h4{
    font-size: 24px;
    font-weight: 400;
}

p{
    margin-left: -30px;
}


input{
    width: 330px;
    height: 40px;
    margin-left: -120px;
    color: rgb(146, 144, 144);
    padding-left: 10px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgb(163, 161, 161);
}

a{
  color: black;
}
.send{
    width:330px;
    height: 40px;
    margin-left: -120px;
    font-size: 14px;
}

button :hover{
    background-color: #ffffff;
}
.store-div{
  font-size: 12px;
  font-weight: 400;
  line-height: 3.0;
}

.socials{
    font-size: 18px;
    /* border: 1px solid black; */
    margin-top: 20px;
    font-size: 20px;
}

.accept-div{
    font-size: 12px;
}
.footer{
    margin: 0 0 0 25%;
    height: 80px;
    font-family: "Montserrat, sans-serif";
    width: 69%;
    background-color: black;
    color: #ffffff;
}
 .powered_by{
    color: #ffffff;
    padding: 3% 0 0 450px;
    font-family: "Montserrat", sans-serif;
 }

.link{
    color: white;
}