*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.navbar{
    border: 1px solid blue;
    font-family:"Roboto", sans-serif ;
    height: 640px;
    width: 23%;
    position: fixed;
}

.home{
    border: 1px solid red;
    width: 69%;
    margin: 0 0 0 25%;
    height: 780px;
    font-family: "Montserrat, sans-serif";
    
}

.jean-div{
  border: 1px solid black;
  color: black;
  height: 90px;
  
}

.jeans-div{
  font-size: 26px;
}

img{
  width: 1020px;
  height: 680px;
}


h2{
    padding-top: 30px;
   
}

.home-div{
    border: 1px solid black;
    position: relative;
}

.arrivals{
    border: 1px solid black;
    height: 160px;
    width: 400px;
    position: absolute;
    margin-top: -630px;
    margin-left: 35px;
    color: #ffffff;
    letter-spacing: 2px;

}

h1{
    font-size: 68px;
}
h2{
    font-size: 38px;
}

button{
    width: 170px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    background-color: black;
    margin-top: 25px;
    border: none;
}

.button :hover{
    background-color: lightgray;
    color: black;
}
.jeans{
    border: 1px solid yellow;
    margin: 0 0 0 25%;
    height: 660px;
    font-family: "Montserrat", sans-serif;
    width: 67.5%;
}

.subscribe{
    border: 1px solid black;
    margin: 0 0 0 25%;
    height: 282px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
}

.CAS-section{
    border: 1px solid aqua;
    margin: 0 0 0 25%;
    height: 500px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
    background-color: rgb(241, 241, 241);
    display: flex;
}

.contact{
    border: 1px solid blue;
    width: 400px;
    height: 400px;
   padding-left: 120px;
    padding-top: 85px;

}

.about{
    border: 1px solid blue;
    width: 300px;
    height: 400px;
    padding-left: 90px;
    padding-top: 85px;    
}

.store{
    border: 1px solid blue;
    width: 350px;
    height: 400px;
    padding-left: 20px;
    padding-top: 85px;
} 

h4{
    font-size: 24px;
}

p{
    margin-left: -30px;
}

input{
    width: 330px;
    height: 40px;
    margin-left: -120px;
    color: grey;
    padding-left: 10px;
    font-size: 16px;
}

.send{
    width:330px;
    height: 40px;
    margin-right: 60px;
}
.footer{
    border: 1px solid orange;
    margin: 0 0 0 25%;
    height: 70px;
    font-family: "Montserrat, sans-serif";
    width: 67.5%;
}